<h3 translate="islaApp.lecture.createLabel">Create lecture</h3>

<form role="form" ng-submit="lectureForm.save()">
  <div class="form-vertical-group">
    <div class="form-group">
      <label for="description" translate="islaApp.lecture.description">Description</label>
      <input type="text"
             class="form-control"
             name="description"
             id="description"
             placeholder="{{'islaApp.lecture.description' | translate}}"
             ng-model="lectureForm.lecture.description"
             required>
    </div>
    <div class="form-group">
      <span></span>
      <button type="submit" class="btn" translate="islaApp.lecture.createLabel">
        Add lecture
      </button>
    </div>
  </div>
</form>
