button, .btn{
  outline: none;
  padding: 6px;
  margin: 1px;
  border: 0;
  color: $default-btn-color;
  background: $default-btn-background;
  white-space: nowrap;
  cursor: pointer;
  &:hover{
    background: $default-btn-hover-background;
  }
}
button:disabled{
  background: $default-btn-disabled-background;
  color: $default-btn-disabled-color;
  cursor: initial;
}
.btn-plain {
  padding: 0;
  margin: 0 5px;
  border: 0;
  color: $link-color;
  background: none;
  &:hover {
    color: $link-hover-color;
    background: none;
  }
}
