button, .btn{
  outline: none;
  padding: 6px;
  margin: 1px;
  border: 0;
  color: $default-btn-color;
  background: $default-btn-background;
  &:hover{
    background: $default-btn-hover-background;
    cursor: pointer;
  }
}
button:disabled{
  background: $default-btn-disabled-background;
  color: $default-btn-disabled-color;
  &:hover {
    cursor: initial;
  }
}
