.footer{
  background: $footer-background;
  height: $footer-height;
  color: $gray;
  text-align: center;
  line-height: $footer-height;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-push{
  height: $footer-height;
}
