.material-icons.icon-light {
  color: $white;
}
.material-icons.icon-gray {
  color: $darkgray;
}
.material-icons.icon-48 {
  font-size: 48px;
}
.material-icons.icon-32 {
  font-size: 32px;
}
.material-icons.icon-24 {
  font-size: 24px;
}
.material-icons.icon-16 {
  font-size: 16px;
}
.material-icons{
  color: $black;
  vertical-align: -20%;
  background: none;
}
.material-icons:hover {
  background: none;
}
