.lecture-list {
  margin: $default-vertical-margin auto;
  width: 90%;
}
.lecture-description{
  margin-left: 30px;
  color: $gray;
  font-style: italic;
  font-size: 85%;
}
.like-count{
  margin: 0 5px;
}
