nav{
  height: 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a{
      display: inline-block;
  }
  .menu-items{
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    & > li{
      display: inline-block;
      margin: 0 4px;
    }
  }

  &.nav-sub{
    background: $aluminum;
    border-bottom: 1px solid $gray;
    font-size: 80%;

    a{
      color: $darkgray;
      text-decoration: none;
      padding: 4px;
      &:hover{
        color: $black;
      }
    }
    .active a{
      text-decoration: underline;
    }
  }

  &.nav-default{
    background: $nav-background;
    color: $nav-text-color;

    a{
      padding: $nav-link-padding-vertical $nav-link-padding-horizontal;
    }

    a:not(.nav-brand){
      color: $nav-link-color;
      background: $nav-link-background;
      text-decoration: none;

      @include box-sizing(border-box);

      &:hover{
        color: $nav-link-hover-color;
        background: $nav-link-hover-background;
      }
    }
    ul .active a{
      color: $nav-link-active-color;
      text-decoration: underline;
    }
  }
  &.nav-plain{
    position: absolute;
    padding-left: 5%;
    top: 0;

    button, a{
      color: $nav-plain-link-color;
      background: $nav-plain-link-background;
      padding: 2px 4px;
    }
  }
}

.nav-brand{
  padding: $nav-link-padding-vertical $nav-link-padding-horizontal;
  margin-right: 80px;
  color: $nav-brand-color;
  text-decoration: none;
}

