.comment-form-container {
  position: relative;
  background: $orange;
  display: block;
  padding: 38px 0;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid $gray;
}
.qr-code {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  right: 0;
  background: rgba(0,0,0,0.7);
  cursor: pointer;
  .qr-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: $white;
    border: 1px solid $default-border-color;
    border-radius: 4px;
  }
}
.lecture-feed-actions {
  position: absolute;
  right: 10%;
  bottom: 0px;
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
    margin: 0 1px;
  }
  button {
    background: $darkgray;
    font-size: 90%;
    padding: 2px 4px;
    color: $aluminum;
    &:hover {
      background: $darkgray;
      color: $white;
    }
    &.active {
      background: $gray;
      color: $white;
    }
  }
}
.comment-form{
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: stretch;

  button{
    padding: 6px 10px;
    margin: 0;
  }

  input {
    border: none;
    margin: 0;
  }
  select {
    min-width: 130px;
  }
  .select-comment-type{
    margin: 0;
    padding: 6px 10px;
    border-top-left-radius: $default-border-radius;
    border-bottom-left-radius: $default-border-radius;
    background: $carrara;
    border: none;
    -webkit-appearance: none;
    color: $gray;
  }
  .comment-input{
    width: 100%;
    background: $white;
    border: none;
  }
  .comment-choices{
    width: 100%;
    display: block;
  }
  .comment-choice{
    padding-left: 10px;
    width: 100%;
    display: flex;
    justify-content: stretch;
    & + .comment-choice, &:first-child {
      border-top: 1px solid $aluminum;
    }
  }
  .choice-button{
    color: $gray;
    padding: 0;
    margin: 0 10px;
  }
  .comment-send{
    border-top-right-radius: $default-border-radius;
    border-bottom-right-radius: $default-border-radius;
    border: none;
    background: $aluminum;
    color: $gray;
  }
}
.comment{
  min-height: $comment-items-height * 1.5;
  display: flex;
  align-content: space-between;
  border-bottom: 2px solid $aluminum;
  padding: 0 $comment-horizontal-padding;
  position: relative;

  &.checked{
    background: $carrara;
  }

  .comment-content{
    display: inline-block;
    max-width: calc(100% - 100px);
    word-wrap: break-word;
    display: flex;
    text-overflow: ellipsis;
    overflow-x: auto;
    padding: $comment-vertical-padding 0;
  }
  .comment-items{
    display: flex;
    align-items: center;
    margin-right: 0;
    margin-left: auto;
  }
  .comment-item{
    border: none;
    display: inline-block;
    width: $comment-items-width;
    height: $comment-items-height;
  }
  .like{
    background: url("../images/like.png") no-repeat center top;
    background-size: contain;
  }
  .delete{
    background: url("../images/delete.png") no-repeat center top;
    background-size: contain;
  }
  .check{
    background: url("../images/check.png") no-repeat center top;
    background-size: contain;
  }
  .new-comment {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 7px;
    animation: hideNew 10s forwards;
    animation-iteration-count: 1;
    background: $green-sea;
    display: block;
  }
  @keyframes hideNew {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.30;
    }
    100% {
      opacity: 0;
    }
}
}


.comment-container{
  width: 100%;
  display: block;
  border-bottom: 2px solid $aluminum;
  .comment {
    border: 0;
  }
  .comment-choice, .comment-choice-result {
    color: $darkgray;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: $comment-vertical-padding/3 0;
    border-top: 1px solid $silver;
  }
  .comment-choice {
    background: $clouds;
  }
  .comment-choice:hover {
    color: $white;
    background: $malibu;
    cursor: pointer;
  }
}
