$comment-items-height   : 24px;
$comment-items-width    : 24px;

$clouds         : #ecf0f1;
$orange         : #F6BF26;
$darkorange     : #D35400;
$white          : #FFFFFF;
$carrara        : #F2F1EF;
$silver         : #bdc3c7;
$aluminum       : #e1e1e1;
$asphalt        : #34495e;
$gray           : #868686;
$darkgray       : #414141;
$black          : #000000;
$blue           : #2980b9;
$lightblue      : #4aa3df;
$malibu         : #6BB9F0;
$midnight       : #2c3e50;
$alice          : #E4F1FE;
$lightyellow    : #FFF2D0;
$alizarin       : #e74c3c;
$green-sea      : #16a085;

$background     : $white;

$nav-background                 : $darkgray;
$nav-text-color                 : $aluminum;
$nav-link-background            : none;
$nav-link-color                 : $nav-text-color;
$nav-link-hover-background      : none;
$nav-brand-color                : $orange;
$nav-link-hover-color           : $white;
$nav-link-active-color          : $white;

$nav-plain-link-background        : $white;
$nav-plain-link-color             : $midnight;

$footer-height        : 50px;
$footer-background    : $carrara;

$link-color         : $blue;
$link-hover-color   : $orange;

$default-vertical-padding : 15px;
$default-horizontal-padding : 25px;
$default-vertical-margin : 15px;
$default-horizontal-margin : 25px;
$default-item-spacing : 8px;

$comment-vertical-padding     : 14px;
$comment-horizontal-padding   : 16px;

$default-font-family  : "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;

$default-border-radius  : 7px;

$default-btn-background         : $lightblue;
$default-btn-hover-background   : $blue;
$default-btn-color              : $white;

$default-btn-disabled-background         : $aluminum;
$default-btn-disabled-color              : $silver;

$default-indentation-size       : 20px;

$default-border-color  : $gray;
$default-highlight-color  : $lightyellow;
$default-error-color      : $alizarin;
$default-success-color    : $green-sea;
$table-highlight-color    : $carrara;
