// bower:scss
// endbower
@import "settings.scss";
@import "mixins.scss";
@import "navbar.scss";
@import "footer.scss";
@import "table.scss";
@import "room.scss";
@import "alert.scss";
@import "btn.scss";

*{
  font-family: $default-font-family;
}

html, body{
  height: 100%;
  max-width: 100%;
}

a{
  color: $link-color;
  outline: none;
  &:hover{
    color: $link-hover-color;
  }
}

body {
  background: $background;
  badding-bottom: $footer-height;
  color: #333;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

input{
  padding: 6px;
  outline: none;
}

select{
  margin: 6px 0;
  outline: none;
}

.container{
  padding: 30px 5% 10px;
}

.row{
  margin: 10px 0;
}

.form-group{
  padding: 2px;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;

  label, a, .btn {
    & + *{
      margin-left: 40px;
    }
  }
}

.form-vertical-group{
  display:inline-block;
}
.right{
  float: right;
}
.help-block{
  margin: 2px $default-indentation-size 2px 0;
  background: $default-highlight-color;
  word-wrap: break-word;
  clear: both;
  float: left;
  font-size: 80%;
}
