<div ng-class="{'checked': comment.isRead(), 'comment': true}">
  <div class="comment-content">
    <ng-transclude></ng-transclude>
  </div>
  <div class="comment-items">
    {{score}}
    <button title="{{'room.actions.like' | translate}}" ng-if="comment.allowLike()" ng-click="comment.likeComment()" class="comment-item like"></button>
    <button title="{{'room.actions.markAsRead' | translate}}" ng-if="!comment.isRead() && comment.allowModeratorActions()" ng-click="comment.markCommentAsRead()" class="comment-item check"></button>
    <button title="{{'room.actions.delete' | translate}}" ng-if="comment.allowModeratorActions()" ng-click="comment.deleteComment()" class="comment-item delete"></button>
  </div>
</div>
